<!DOCTYPE html>
<html>
    <head>
        <title> BOG </title>
        <link rel="shortcut icon" type="image/png" href="static/BOG.png"/>
        <link rel='stylesheet' href="static/css/main.css">
    </head>
    <body>
        <p> bog time </p>
        <div class="grid-container">
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.a1 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.a2 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.a3 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.a4 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.b1 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.b2 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.b3 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.b4 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.c1 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.c2 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.c3 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.c4 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.d1 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.d2 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.d3 }} "></img></div>
            <div class="grid-item"><img style="width: 100%;" src="static/{{ tiles.d4 }} "></img></div>
        </div>
    </body>
</html>
