<!DOCTYPE html>
<html>
    <head>
        <title> BOG </title>
        <link rel="shortcut icon" type="image/png" href="static/BOG.png"/>
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <h1> BOG </h1>
        <div class="grid-container">
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.a1 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.a2 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.a3 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.a4 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.b1 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.b2 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.b3 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.b4 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.c1 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.c2 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.c3 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.c4 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.d1 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.d2 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.d3 }}"></div>
            <div class="grid-item"> <img style="width:100%;" src="static/{{ tiles.d3 }}"></div>
        </div>
    </body>
</html>
