<!DOCTYPE html>
<html>
    <head>
        <title> BOG </title>
        <link rel="shortcut icon" type="image/png" href="static/BOG.png"/>
    </head>
    <body>
        <p> bog time </p>
        <article id="first" class="container box style1">
            <form role="form" method="POST" action="{{ url_for('create') }}">
                <div class="row 50%">
                    <div class="6u$ 12u$(mobile)"> <input class="text" type="text" placeholder="Name" name="name"> </div>
                    <div class="6u$ 12u$(mobile)"> <button class="btn" type="submit">Submit</button> </div>
            </form>
                </div>
        </article>
    </body>
</html>
